/.git/
/.gitignore

/.bundle

/.env*

/config/master.key
/config/credentials/*.key

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/.keep

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

/public/assets

/.github

/config/deploy*.yml
/.kamal

/.dockerignore
/Dockerfile*
